@{
    ViewData["Title"] = "Home Page";
}
    @model BankAccts.Models.Login

    <br> 
    <h2> Login: </h2><br>

    <h4>@ViewBag.errors</h4> 
    
    <form asp-controller='Login' asp-action='loginp' method='post'>
        
        
        <label asp-for='Email'>Email:</label> 
        <input asp-for='Email' type='text' name='email'>
        <span asp-validation-for='Email'></span><br><br>
        
        
        <label asp-for='Password'>Password:</label> 
        <input asp-for='Password' type='password' name='password'>
        <span asp-validation-for='Password'></span><br><br>
        
        <input type='submit' value='Login'>

    </form> <br><br>

    <a href="register"> Need to Register</a><p>        </p>
    
    <a href="logout"> Log Out</a>
