        <html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
    </head>
    <body>

        <h1>Dojo Survey</h1>
        
        <form action="method" method="post">
            Name: <input type='text' name='name'><br><br>
            Dojo Location: 
            <select name="dojoloc">
                <option value="Chicago">Chicago</option>
                <option value="Seatle">Seatle</option>
                <option value="Dallas">Dallas</option>
                <option value="Los Angeles">Los Angeles</option>
                <option value="Silicon Valley">Silicon Valley</option>
                <option value="Tulsa">Tulsa</option>
            </select><br><br>
            Favorite Language:
            <select name="favlang">
                <option>Python</option>
                <option>javascript</option>
                <option>c#</option>
                <option>Ruby</option>
                <option>Java</option>
            </select><br><br>
            <textarea name="comment">Comment here, optional...</textarea><br><br>
            <input type='submit' value='New User'>
        </form>  
    </body>
</html>

