<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
    </head>
   <body>
     <h1>Submitted Infor</h1>
     <p>Name:  @ViewBag.name</p><br>
     <p>Location: @ViewBag.dojoloc</p><br>
     <p>Favorite Language: @ViewBag.favlang</p><br>
     <p>Comment:  @ViewBag.comment</p><br>
     <form action='index' method='get'>
        <input type='submit' value='Go Back'>
    </body>
</html>