<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
       
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>Andrea Cronin</h1>
        <h4>live in Lake County</h4>
        <h4>I am currently looking for web development work in C# and .net framework</h4>
        <h4></h4>
        <h4></h4>
    </body>
</html>