<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Index</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1>My projects are:</h1>
        <p>Portfolio</p>
        <p>Time Display</p>
        <p>Coding Dojo</p>
    </body>
</html>