<center>

    <h4></h4>
    <h4></h4>
    <h2>API Operation Complete</h2>
    <hr width="400px">

    <!-- In the future instead of coming to this result pg
    I recommend going back to index page inorder for 
    user to see whether database operations took affect.
    which is also better for any kind of marketing/e-commerce
    websites  -->


</center>