@{
    ViewData["Title"] = "Add an Activity";
}
    @model Belt1CSharp.Models.ActivityVal

    <h1>Dojo Activity Center</h1>
    <p><a href="home"> Home</a></p>
    <p><a href="logout"> Log Off</a></p>
    <p>Welcome @ViewBag.FName!</p>
    <hr>
    <h4>@ViewBag.errors</h4> 

    <br>
    <h3>Create an Activity</h3><br>    
       
        <form asp-controller='Home' asp-action='activityDetails' method='post'>
            
            
            <label asp-for='Title'>Title:</label> 
            <input asp-for='Title' type='text' name='Title'>
            <span asp-validation-for='Title'></span><br><br>
            
            <label asp-for='Time'>Time:</label> 
            <input asp-for='Time' type='text' name='Time'>
            <span asp-validation-for='Time'></span><br><br>

            <label asp-for='Date'>Date:</label> 
            <input asp-for='Date' type='date' name='Date'>
            <span asp-validation-for='Date'></span><br><br>
            
            <label asp-for='Duration'>Duration:</label> 
            <input asp-for='Duration' type='text' name='Duration'>
            <span asp-validation-for='Duration'></span><br><br>

            <label asp-for='DuratType'>Duration Type:</label> 
            <select asp-for='DuratType'name="DuratType">
                <option value="Days">Days</option>
                <option value="Hours">Hours</option>
                <option value="Minutes">Minutes</option>
            </select>
            <span asp-validation-for='DuratType'></span><br><br>

            
            <label asp-for='Descrip'>Description:</label> 
            <input asp-for='Descrip' type='text' name='Descrip'>
            <span asp-validation-for='Descrip'></span><br><br>
            
            <input type='submit' value='Create Activity'>
        
        </form><br><br><br>

        


        
        