@{
    ViewData["Title"] = "Account page";
}

<h1>Welcome @ViewBag.CurrUser.FName</h1><br>

<h3>Current balance: @ViewBag.CurrUser.Balance</h3><br>

<form action="subTrans" method='post'>

    Deposit/Withdraw: 
    <select name="TransAmt">
        <option value=-10>-10</option>
        <option value=-25>-25</option>
        <option value=-50>-50</option>
        <option value=+10>+10</option>
        <option value=+25>+25</option>
        <option value=+75>+75</option>
    </select>

<input type="submit" value="Submit">

</form>

<Table>
        <tr>
            <td>Amount</td>
            <td>&nbsp;</td>
            <td>Date</td>
        </tr>    
    @{
       foreach (var Trans in ViewBag.CurrUser.Trans) 
       {
        <tr>
            <td>@Trans.Amount</td>
            <td>      </td>
            <td>@Trans.Date.ToString("MM-dd-yyyy")</td>
        </tr>
        }
    }
</Table>