@{
    ViewData["Title"] = "Home Page";
}
<br><br>
<h1>Welcome to Quoting Dojo</h1><br>


<form action="quote" method="post">
    
    Your Name:  <input type="text" name="name"/><br><br>
    <label class="top">Your Quote:</label> </label><input type="textarea" name="quote"/><br><br>
    <button type="submit" value="Add my quote">Add my quote</button>
    <a href="quoteget">Skip to Quotes</a>
    
</form>

